@charset "utf-8" !important;
/* CSS Document */
body {
	position: absolute !important;top:0;bottom:10%;right:0;left:0;
	background: url("https://cdn1.footballticketpad.com/frontend/bm2014/images/bk@1x.png")no-repeat center center fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.mtop10 {
	margin-top: 10px;
	padding: 0 9%;
}

.bts-popup-container {
	max-width: 600px;
	margin: 0px auto;
	background: #FFF;
	text-align: center;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.popup-valid {
	background: #7EC26D;
	text-align: center;
	padding: 20px 0px 20px 0px;
	color: #FFF;
	text-transform: uppercase;
}

.popup-valid.err{
	background: #E76262;
}

.message-comein {
	padding: 10% 4% 10% 4% !important;
}

.message-comein button {
	background: #63c9da !important;
	color: #FFF !important;
	text-align: center !important;
	border-radius: 6px !important;
	padding: 18px 70px 18px 70px !important;
	border: none !important;
	margin-top: 10% !important;
	cursor: pointer !important;
	font-size: 16px !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
	transition: all 0.3s ease 0s !important;
	border: none !important;
	outline: none !important;
}

.message-comein button:hover {
	background-color: #7ec26d !important;
	box-shadow: 0px 15px 20px rgba(126, 194, 109, 0.4) !important;
	color: #fff !important;
	transform: translateY(-7px) !important;
}

@media only screen and (max-width:768px) {
	.bts-popup-container {
		width: 80% !important;
	}

	.popup-valid h2 {
		font-size: 18px !important;
	}

	.popup-valid img {
		width: 60px !important;
	}

	.message-comein button {
		padding: 15px 50px 15px 50px !important;
		margin-top: 9% !important;
		font-size: 14px !important;
	}

	.popup-valid {
		padding: 15px 0px 15px 0px !important;
	}

}

@media only screen and (min-width:768px) and (max-width:1023px) {
	.bts-popup-container {
		width: 80% !important;
	}

}
