.admin-page .widget-body .fade {display: none; opacity: 1;}
.admin-page .widget-body .fade.in {display: block}
.admin-page .widget-body .btn-success {bottom: 10px;}




#myTabContent {min-height: 300px;}
#publish-date {width: 200px;}

.image-container {margin-top: 25px;}
.slider-image {padding-right: 10px; padding-bottom: 10px; float: left; display: block; width: 160px; height: 160; border: 1px solid #0000ff}
.slider-image img {margin-left: 5px; margin-top:5px; max-width: 150px; max-height: 150px;}





.signoutbtns {
    height: 25px !important;
    line-height: 25px !important;
    margin-right: 4px;
    vertical-align: top;
}

#logout .fa.fa-sign-out {
    padding-left: 10px;
}
.publish {
    float: left;
    margin-right: 30px !important;
}

#nestable .dd-content, #nestable .dd-handle {
    height: 44px;
    padding-top: 11px;
}


#nestable .dd-handle:before {
    color: #fff;
    content: "≡";
    cursor: move;
    display: block;
    font-size: 20px;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: 10px;
    width: 100%;
}

.ns-actions a {
    margin: 0 5px;
}

.btn {

    padding: 8px 32px;

    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px;

    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px;

}

.dd-handle {
    background: none repeat scroll 0 0 #3276b1 !important;
    border: 1px solid #2c699d !important;

}
.delete-node { color: #a90329}


#left-panel .active, #left-panel .active.open {
    background: none repeat scroll 0 0 #000;
}

#left-panel .active .menu-item-parent, #left-panel .active.open .menu-item-parent { color: #fff}

#left-panel .active  .active { background: none}

#left-panel .open {
    background: none repeat scroll 0 0 #2a2725;
}

.btn-link {
    padding: 0;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color:transparent;

}

.jarviswidget > header, .panel-heading {
    background: none repeat scroll 0 0 #2a2725 !important;
    border: 1px solid #2a2725 !important;
    color: white !important;
    height: 44px;
    line-height: 44px;
}

.tempremove { display: none}

#extr-page #header #logo {
    margin-left: 0;
    margin-top: 13px !important;
}

.dd { max-width: 930px}
.jarviswidget header:first-child .nav-tabs li a {
    color: white;
}

.jarviswidget header:first-child .nav-tabs li.active a {
    color: black;
}
.hero { text-align:  center}
.jarviswidget header .nav-tabs > li > a {

    padding: 11px 35px;
}

.jarviswidget > header .widget-icon i {  color: white !important;}

.jarviswidget header:first-child .nav-tabs li a span {
    font-size: 14px;
}
#wid-id-0 > header i {
    color: white;
}
#main {

    min-height: 840px;

}

.header-search { display: none}

#logo-group > span {

    margin-top: 5px;
 }

#left-panel .active.open i,
#left-panel .active.open .menu-item-parent {
    color: #3276b1;
}

.page-footer {
    position: fixed;
    z-index: 901;
}

#login-form > header {
    background: none repeat scroll 0 0 #2a2725;
    color: white;
}


#logo img {

    width: 132px;
}
.menuconfig a {
    margin: 1px 1px 3px;
    padding: 20px;
    width: 150px;
}

.menuconfig .glyphicon {
    font-size: 43px;
    padding-bottom: 18px;
}

.nav-tabs i { display: none}


.dataTables_wrapper table .edit-node {  background: #3276b1;
    padding: 5px 15px; color: white;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px;

    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px; }

.dataTables_wrapper table .delete-node {  background: #ca4e4e;
    padding: 5px 15px; color: white;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px;

    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px; }

#remove_venue_image_btn,
#remove_feature_image_btn, #remove_club_logo_btn { background: #ca4e4e !important; border:none !important;
    padding: 9px 15px; color: white;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px;
 margin-right: 10px;display: inline-block !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 5px; }

#venue_image_btn, #feature_image_btn {display: inline-block; margin-right: 10px}
.btn-success { clear: both; }


.available-ticket-type, .available-form-of-ticket-ids, .available-ticket-restrictions-ids {
    background: none repeat scroll 0 0 #3276b1;
    border-radius: 7px;
    color: white;
    display: inline-block;
    padding: 9px 15px;
}

.welcomeimg {
    float: left;
    margin-top: 7px !important;
}

.welcomes {
    float: left;
    font-size: 15px;
    padding-top: 7px;
}


.demo { display: none !important}

.page-footer .btn-group { display: none !important}

.ribbon-button-alignment {display: none !important}



.matTable{
    background: white !important;
    padding: 24dp;
    width:100% !important;
}
.matCard{

}
.matTableRow{
    background: white !important;
    font-size: 13sp;
    font-family: "Roboto Regular";
}
tr.matTableRow {
    background: white !important;
    width: 100% !important;
}
tr.matTableRow td {
    padding: 10px;
}
.matTableRow .number{
    text-align: right !important;
}

th.matCard {
    padding: 10px;
    font-size: 20px;
}
tr.matTableRow {
    border-top: 1px #e0e0e0 solid!important;
}
th.matHeadRow {
    padding: 20px;
}
tr.matTableRow:nth-child(even) {
    background: #dff4fc !important;
}

tr.matTableRow:hover, td.matTableRow:hover {
    background: #b3e5fc !important;
}
.optblock *{
    width:100% !important;
}
ul.dropdown-menu {
    position: fixed;
    top: 0;
    width: 70% !important;
    left: 0;
}

ul.dropdown-menu button {
    width: 200px !important;
    float:left;
}