
.cat_1, .cat_2, .cat_3, .cat_4, .cat_vip {
  stroke-width: 2;
  transition: all 1.0s !important;
}

@include all-on-color-events($color1, $cat: 'cat_1');
@include all-on-color-events($color2, $cat: 'cat_2');
@include all-on-color-events($color3, $cat: 'cat_3');
@include all-on-color-events($color4, $cat: 'cat_4');
@include all-on-color-events($color5, $cat: 'cat_vip');
@include all-on-color-events($color6, $cat: 'cat_bob');
@include all-on-color-events($color6, $cat: 'cat_s1');
@include all-on-color-events($color_sl, $cat: 'cat_sl');
@include all-on-color-events($color_su, $cat: 'cat_su');
@include all-on-color-events($color_ll, $cat: 'cat_ll');
@include all-on-color-events($color_lu, $cat: 'cat_lu');
@include all-on-color-events($color_aw, $cat: 'cat_aw');
@include all-on-color-events($color3, $cat: 'closeFilter');
@include all-on-color-events($color_other, $cat: 'cat_other');

.guarenteetxt-container {
  display: none !important;
}

.tickpill {
  padding: 10px;
  margin-bottom: 2px;
  width: 50%;
  float: left;
}

.resetButton {
  background: #E3397F !important;
  border: none !important;
  padding: 11px !important;
  color: white !important;
  border-radius: 7px !important;
  font-size: 15px !important;
}

.mobileFilterTab {
  perspective: 1500px;
  perspective-origin: 0% 50%;
  -webkit-transition: all 2s;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  visibility: visible;
  transform: translate3d(100%, 0, 0) rotateY(0deg);
}

.mobileFilterTab.open {
  transform: translate3d(0%, 0, 0) rotateY(0deg);
}

.closeFilter_button {
  width: 95%;
}

.seatzones button {
  display: none;
}

.seatzones button {
  float: left;
  width: 43%;
  text-align: center;
}