/*
Error: Undefined mixin 'all-on-color-events'.
        on line 7 of map_builder.scss, in `all-on-color-events'
        from line 7 of map_builder.scss

2: .cat_1, .cat_2, .cat_3, .cat_4, .cat_vip {
3:   stroke-width: 2;
4:   transition: all 1.0s !important;
5: }
6: 
7: @include all-on-color-events($color1, $cat: 'cat_1');
8: @include all-on-color-events($color2, $cat: 'cat_2');
9: @include all-on-color-events($color3, $cat: 'cat_3');
10: @include all-on-color-events($color4, $cat: 'cat_4');
11: @include all-on-color-events($color5, $cat: 'cat_vip');
12: @include all-on-color-events($color6, $cat: 'cat_bob');

Backtrace:
map_builder.scss:7:in `all-on-color-events'
map_builder.scss:7
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/stack.rb:98:in `with_mixin'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/markjones/.rvm/gems/ruby-2.3.1@global/gems/sass-3.4.22/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'all-on-color-events'.\A         on line 7 of map_builder.scss, in `all-on-color-events'\A         from line 7 of map_builder.scss\A \A 2: .cat_1, .cat_2, .cat_3, .cat_4, .cat_vip {\A 3:   stroke-width: 2;\A 4:   transition: all 1.0s !important;\A 5: }\A 6: \A 7: @include all-on-color-events($color1, $cat: 'cat_1');\A 8: @include all-on-color-events($color2, $cat: 'cat_2');\A 9: @include all-on-color-events($color3, $cat: 'cat_3');\A 10: @include all-on-color-events($color4, $cat: 'cat_4');\A 11: @include all-on-color-events($color5, $cat: 'cat_vip');\A 12: @include all-on-color-events($color6, $cat: 'cat_bob');"; }
