$color1: rgba(255, 211, 79, 1);
$color2: rgba(230, 56, 133, 1);
$color3: rgba(96, 202, 221, 1);
$color4: rgba(125, 196, 104, 1);
$color5: rgba(248, 142, 0, 1);
$color6: rgb(217, 131, 250);

$color_ll: rgba(227, 41, 125, 1);
$color_lu: rgba(99, 201, 218, 1);
$color_sl: rgba(126, 194, 109, 1);
$color_su: rgba(255, 208, 92, 1);
$color_aw: rgba(199, 197, 192, 1);
$color_other: rgba(206, 43, 43, 1);

$lighter: 30%;
$light: 20%;

$darker: 30%;
$dark: 20%;


