.cat_1, .cat_2, .cat_3, .cat_4, .cat_vip {
  stroke-width: 2;
  transition: all 1s !important; }

.cat_1 {
  fill: #a7a7a7 !important;
  stroke: #a7a7a7 !important; }

.cat_1.click {
  fill: #ffd34f !important;
  stroke: #ffd34f !important; }

.cat_1.hover {
  fill: #ffd34f !important;
  stroke: #ffd34f !important; }

.cat_1.toggle {
  fill: #ffd34f !important;
  stroke: #ffd34f !important; }

.cat_1.hover.toggle {
  fill: #ffedb5 !important;
  stroke: #ffedb5 !important; }

.cat_1.blockhere {
  fill: #b58800 !important;
  stroke: #b58800 !important; }

.cat_1.blockhere.hover {
  fill: #b58800 !important;
  stroke: #b58800 !important; }

.cat_1.blockhere.hover.toggle {
  fill: #b58800 !important;
  stroke: #b58800 !important; }

.cat_1.blockhere.toggle {
  fill: #b58800 !important;
  stroke: #b58800 !important; }

@media (min-width: 601px) {
  .trigger_cat_1 {
    border-left: 3px solid #ffd34f; } }
@media (max-width: 600px) {
  .trigger_cat_1 {
    border-left: 10px solid #ffd34f; } }

.trigger_cat_1.hover {
  background: #fff9e8 !important; }

.trigger_cat_1.hover td {
  background: #fff9e8 !important; }

.cat_1_tickpill {
  background: #fff9e8 !important;
  border-left: 3px solid #ffd34f; }

.cat_1_button.active {
  padding: 10px;
  color: #fff;
  background-color: #ffd34f;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #b58800;
  -moz-box-shadow: 0px 14px 0px 14px #b58800;
  box-shadow: 0px 7px 0px 0px #b58800; }

.cat_1_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #a7a7a7;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #5b5b5b;
  -moz-box-shadow: 0px 14px 0px 14px #5b5b5b;
  box-shadow: 0px 7px 0px 0px #5b5b5b; }

.cat_2 {
  fill: #8f8f8f !important;
  stroke: #8f8f8f !important; }

.cat_2.click {
  fill: #e63885 !important;
  stroke: #e63885 !important; }

.cat_2.hover {
  fill: #e63885 !important;
  stroke: #e63885 !important; }

.cat_2.toggle {
  fill: #e63885 !important;
  stroke: #e63885 !important; }

.cat_2.hover.toggle {
  fill: #f193bd !important;
  stroke: #f193bd !important; }

.cat_2.blockhere {
  fill: #760f3d !important;
  stroke: #760f3d !important; }

.cat_2.blockhere.hover {
  fill: #760f3d !important;
  stroke: #760f3d !important; }

.cat_2.blockhere.hover.toggle {
  fill: #760f3d !important;
  stroke: #760f3d !important; }

.cat_2.blockhere.toggle {
  fill: #760f3d !important;
  stroke: #760f3d !important; }

@media (min-width: 601px) {
  .trigger_cat_2 {
    border-left: 3px solid #e63885; } }
@media (max-width: 600px) {
  .trigger_cat_2 {
    border-left: 10px solid #e63885; } }

.trigger_cat_2.hover {
  background: #f7c0d8 !important; }

.trigger_cat_2.hover td {
  background: #f7c0d8 !important; }

.cat_2_tickpill {
  background: #f7c0d8 !important;
  border-left: 3px solid #e63885; }

.cat_2_button.active {
  padding: 10px;
  color: #fff;
  background-color: #e63885;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #760f3d;
  -moz-box-shadow: 0px 14px 0px 14px #760f3d;
  box-shadow: 0px 7px 0px 0px #760f3d; }

.cat_2_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #8f8f8f;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #434343;
  -moz-box-shadow: 0px 14px 0px 14px #434343;
  box-shadow: 0px 7px 0px 0px #434343; }

.cat_3 {
  fill: #9f9f9f !important;
  stroke: #9f9f9f !important; }

.cat_3.click {
  fill: #60cadd !important;
  stroke: #60cadd !important; }

.cat_3.hover {
  fill: #60cadd !important;
  stroke: #60cadd !important; }

.cat_3.toggle {
  fill: #60cadd !important;
  stroke: #60cadd !important; }

.cat_3.hover.toggle {
  fill: #b4e6ef !important;
  stroke: #b4e6ef !important; }

.cat_3.blockhere {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

.cat_3.blockhere.hover {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

.cat_3.blockhere.hover.toggle {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

.cat_3.blockhere.toggle {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

@media (min-width: 601px) {
  .trigger_cat_3 {
    border-left: 3px solid #60cadd; } }
@media (max-width: 600px) {
  .trigger_cat_3 {
    border-left: 10px solid #60cadd; } }

.trigger_cat_3.hover {
  background: #def4f8 !important; }

.trigger_cat_3.hover td {
  background: #def4f8 !important; }

.cat_3_tickpill {
  background: #def4f8 !important;
  border-left: 3px solid #60cadd; }

.cat_3_button.active {
  padding: 10px;
  color: #fff;
  background-color: #60cadd;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #1d7787;
  -moz-box-shadow: 0px 14px 0px 14px #1d7787;
  box-shadow: 0px 7px 0px 0px #1d7787; }

.cat_3_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #525252;
  -moz-box-shadow: 0px 14px 0px 14px #525252;
  box-shadow: 0px 7px 0px 0px #525252; }

.cat_4 {
  fill: #969696 !important;
  stroke: #969696 !important; }

.cat_4.click {
  fill: #7dc468 !important;
  stroke: #7dc468 !important; }

.cat_4.hover {
  fill: #7dc468 !important;
  stroke: #7dc468 !important; }

.cat_4.toggle {
  fill: #7dc468 !important;
  stroke: #7dc468 !important; }

.cat_4.hover.toggle {
  fill: #bce1b1 !important;
  stroke: #bce1b1 !important; }

.cat_4.blockhere {
  fill: #386a29 !important;
  stroke: #386a29 !important; }

.cat_4.blockhere.hover {
  fill: #386a29 !important;
  stroke: #386a29 !important; }

.cat_4.blockhere.hover.toggle {
  fill: #386a29 !important;
  stroke: #386a29 !important; }

.cat_4.blockhere.toggle {
  fill: #386a29 !important;
  stroke: #386a29 !important; }

@media (min-width: 601px) {
  .trigger_cat_4 {
    border-left: 3px solid #7dc468; } }
@media (max-width: 600px) {
  .trigger_cat_4 {
    border-left: 10px solid #7dc468; } }

.trigger_cat_4.hover {
  background: #dcefd6 !important; }

.trigger_cat_4.hover td {
  background: #dcefd6 !important; }

.cat_4_tickpill {
  background: #dcefd6 !important;
  border-left: 3px solid #7dc468; }

.cat_4_button.active {
  padding: 10px;
  color: #fff;
  background-color: #7dc468;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #386a29;
  -moz-box-shadow: 0px 14px 0px 14px #386a29;
  box-shadow: 0px 7px 0px 0px #386a29; }

.cat_4_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #969696;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #4a4a4a;
  -moz-box-shadow: 0px 14px 0px 14px #4a4a4a;
  box-shadow: 0px 7px 0px 0px #4a4a4a; }

.cat_vip {
  fill: #7c7c7c !important;
  stroke: #7c7c7c !important; }

.cat_vip.click {
  fill: #f88e00 !important;
  stroke: #f88e00 !important; }

.cat_vip.hover {
  fill: #f88e00 !important;
  stroke: #f88e00 !important; }

.cat_vip.toggle {
  fill: #f88e00 !important;
  stroke: #f88e00 !important; }

.cat_vip.hover.toggle {
  fill: #ffbb5f !important;
  stroke: #ffbb5f !important; }

.cat_vip.blockhere {
  fill: #5f3600 !important;
  stroke: #5f3600 !important; }

.cat_vip.blockhere.hover {
  fill: #5f3600 !important;
  stroke: #5f3600 !important; }

.cat_vip.blockhere.hover.toggle {
  fill: #5f3600 !important;
  stroke: #5f3600 !important; }

.cat_vip.blockhere.toggle {
  fill: #5f3600 !important;
  stroke: #5f3600 !important; }

@media (min-width: 601px) {
  .trigger_cat_vip {
    border-left: 3px solid #f88e00; } }
@media (max-width: 600px) {
  .trigger_cat_vip {
    border-left: 10px solid #f88e00; } }

.trigger_cat_vip.hover {
  background: #ffd092 !important; }

.trigger_cat_vip.hover td {
  background: #ffd092 !important; }

.cat_vip_tickpill {
  background: #ffd092 !important;
  border-left: 3px solid #f88e00; }

.cat_vip_button.active {
  padding: 10px;
  color: #fff;
  background-color: #f88e00;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #5f3600;
  -moz-box-shadow: 0px 14px 0px 14px #5f3600;
  box-shadow: 0px 7px 0px 0px #5f3600; }

.cat_vip_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #7c7c7c;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #303030;
  -moz-box-shadow: 0px 14px 0px 14px #303030;
  box-shadow: 0px 7px 0px 0px #303030; }

.cat_bob {
  fill: #bfbfbf !important;
  stroke: #bfbfbf !important; }

.cat_bob.click {
  fill: #d983fa !important;
  stroke: #d983fa !important; }

.cat_bob.hover {
  fill: #d983fa !important;
  stroke: #d983fa !important; }

.cat_bob.toggle {
  fill: #d983fa !important;
  stroke: #d983fa !important; }

.cat_bob.hover.toggle {
  fill: #f7e5fe !important;
  stroke: #f7e5fe !important; }

.cat_bob.blockhere {
  fill: #a109db !important;
  stroke: #a109db !important; }

.cat_bob.blockhere.hover {
  fill: #a109db !important;
  stroke: #a109db !important; }

.cat_bob.blockhere.hover.toggle {
  fill: #a109db !important;
  stroke: #a109db !important; }

.cat_bob.blockhere.toggle {
  fill: #a109db !important;
  stroke: #a109db !important; }

@media (min-width: 601px) {
  .trigger_cat_bob {
    border-left: 3px solid #d983fa; } }
@media (max-width: 600px) {
  .trigger_cat_bob {
    border-left: 10px solid #d983fa; } }

.trigger_cat_bob.hover {
  background: white !important; }

.trigger_cat_bob.hover td {
  background: white !important; }

.cat_bob_tickpill {
  background: white !important;
  border-left: 3px solid #d983fa; }

.cat_bob_button.active {
  padding: 10px;
  color: #fff;
  background-color: #d983fa;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #a109db;
  -moz-box-shadow: 0px 14px 0px 14px #a109db;
  box-shadow: 0px 7px 0px 0px #a109db; }

.cat_bob_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #bfbfbf;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #727272;
  -moz-box-shadow: 0px 14px 0px 14px #727272;
  box-shadow: 0px 7px 0px 0px #727272; }

.cat_s1 {
  fill: #bfbfbf !important;
  stroke: #bfbfbf !important; }

.cat_s1.click {
  fill: #d983fa !important;
  stroke: #d983fa !important; }

.cat_s1.hover {
  fill: #d983fa !important;
  stroke: #d983fa !important; }

.cat_s1.toggle {
  fill: #d983fa !important;
  stroke: #d983fa !important; }

.cat_s1.hover.toggle {
  fill: #f7e5fe !important;
  stroke: #f7e5fe !important; }

.cat_s1.blockhere {
  fill: #a109db !important;
  stroke: #a109db !important; }

.cat_s1.blockhere.hover {
  fill: #a109db !important;
  stroke: #a109db !important; }

.cat_s1.blockhere.hover.toggle {
  fill: #a109db !important;
  stroke: #a109db !important; }

.cat_s1.blockhere.toggle {
  fill: #a109db !important;
  stroke: #a109db !important; }

@media (min-width: 601px) {
  .trigger_cat_s1 {
    border-left: 3px solid #d983fa; } }
@media (max-width: 600px) {
  .trigger_cat_s1 {
    border-left: 10px solid #d983fa; } }

.trigger_cat_s1.hover {
  background: white !important; }

.trigger_cat_s1.hover td {
  background: white !important; }

.cat_s1_tickpill {
  background: white !important;
  border-left: 3px solid #d983fa; }

.cat_s1_button.active {
  padding: 10px;
  color: #fff;
  background-color: #d983fa;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #a109db;
  -moz-box-shadow: 0px 14px 0px 14px #a109db;
  box-shadow: 0px 7px 0px 0px #a109db; }

.cat_s1_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #bfbfbf;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #727272;
  -moz-box-shadow: 0px 14px 0px 14px #727272;
  box-shadow: 0px 7px 0px 0px #727272; }

.cat_sl {
  fill: #989898 !important;
  stroke: #989898 !important; }

.cat_sl.click {
  fill: #7ec26d !important;
  stroke: #7ec26d !important; }

.cat_sl.hover {
  fill: #7ec26d !important;
  stroke: #7ec26d !important; }

.cat_sl.toggle {
  fill: #7ec26d !important;
  stroke: #7ec26d !important; }

.cat_sl.hover.toggle {
  fill: #bee0b5 !important;
  stroke: #bee0b5 !important; }

.cat_sl.blockhere {
  fill: #396a2c !important;
  stroke: #396a2c !important; }

.cat_sl.blockhere.hover {
  fill: #396a2c !important;
  stroke: #396a2c !important; }

.cat_sl.blockhere.hover.toggle {
  fill: #396a2c !important;
  stroke: #396a2c !important; }

.cat_sl.blockhere.toggle {
  fill: #396a2c !important;
  stroke: #396a2c !important; }

@media (min-width: 601px) {
  .trigger_cat_sl {
    border-left: 3px solid #7ec26d; } }
@media (max-width: 600px) {
  .trigger_cat_sl {
    border-left: 10px solid #7ec26d; } }

.trigger_cat_sl.hover {
  background: #ddefd9 !important; }

.trigger_cat_sl.hover td {
  background: #ddefd9 !important; }

.cat_sl_tickpill {
  background: #ddefd9 !important;
  border-left: 3px solid #7ec26d; }

.cat_sl_button.active {
  padding: 10px;
  color: #fff;
  background-color: #7ec26d;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #396a2c;
  -moz-box-shadow: 0px 14px 0px 14px #396a2c;
  box-shadow: 0px 7px 0px 0px #396a2c; }

.cat_sl_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #989898;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #4b4b4b;
  -moz-box-shadow: 0px 14px 0px 14px #4b4b4b;
  box-shadow: 0px 7px 0px 0px #4b4b4b; }

.cat_su {
  fill: #aeaeae !important;
  stroke: #aeaeae !important; }

.cat_su.click {
  fill: #ffd05c !important;
  stroke: #ffd05c !important; }

.cat_su.hover {
  fill: #ffd05c !important;
  stroke: #ffd05c !important; }

.cat_su.toggle {
  fill: #ffd05c !important;
  stroke: #ffd05c !important; }

.cat_su.hover.toggle {
  fill: #ffedc2 !important;
  stroke: #ffedc2 !important; }

.cat_su.blockhere {
  fill: #c28a00 !important;
  stroke: #c28a00 !important; }

.cat_su.blockhere.hover {
  fill: #c28a00 !important;
  stroke: #c28a00 !important; }

.cat_su.blockhere.hover.toggle {
  fill: #c28a00 !important;
  stroke: #c28a00 !important; }

.cat_su.blockhere.toggle {
  fill: #c28a00 !important;
  stroke: #c28a00 !important; }

@media (min-width: 601px) {
  .trigger_cat_su {
    border-left: 3px solid #ffd05c; } }
@media (max-width: 600px) {
  .trigger_cat_su {
    border-left: 10px solid #ffd05c; } }

.trigger_cat_su.hover {
  background: #fffcf5 !important; }

.trigger_cat_su.hover td {
  background: #fffcf5 !important; }

.cat_su_tickpill {
  background: #fffcf5 !important;
  border-left: 3px solid #ffd05c; }

.cat_su_button.active {
  padding: 10px;
  color: #fff;
  background-color: #ffd05c;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #c28a00;
  -moz-box-shadow: 0px 14px 0px 14px #c28a00;
  box-shadow: 0px 7px 0px 0px #c28a00; }

.cat_su_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #aeaeae;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #616161;
  -moz-box-shadow: 0px 14px 0px 14px #616161;
  box-shadow: 0px 7px 0px 0px #616161; }

.cat_ll {
  fill: #868686 !important;
  stroke: #868686 !important; }

.cat_ll.click {
  fill: #e3297d !important;
  stroke: #e3297d !important; }

.cat_ll.hover {
  fill: #e3297d !important;
  stroke: #e3297d !important; }

.cat_ll.toggle {
  fill: #e3297d !important;
  stroke: #e3297d !important; }

.cat_ll.hover.toggle {
  fill: #ef83b4 !important;
  stroke: #ef83b4 !important; }

.cat_ll.blockhere {
  fill: #660d35 !important;
  stroke: #660d35 !important; }

.cat_ll.blockhere.hover {
  fill: #660d35 !important;
  stroke: #660d35 !important; }

.cat_ll.blockhere.hover.toggle {
  fill: #660d35 !important;
  stroke: #660d35 !important; }

.cat_ll.blockhere.toggle {
  fill: #660d35 !important;
  stroke: #660d35 !important; }

@media (min-width: 601px) {
  .trigger_cat_ll {
    border-left: 3px solid #e3297d; } }
@media (max-width: 600px) {
  .trigger_cat_ll {
    border-left: 10px solid #e3297d; } }

.trigger_cat_ll.hover {
  background: #f5b0cf !important; }

.trigger_cat_ll.hover td {
  background: #f5b0cf !important; }

.cat_ll_tickpill {
  background: #f5b0cf !important;
  border-left: 3px solid #e3297d; }

.cat_ll_button.active {
  padding: 10px;
  color: #fff;
  background-color: #e3297d;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #660d35;
  -moz-box-shadow: 0px 14px 0px 14px #660d35;
  box-shadow: 0px 7px 0px 0px #660d35; }

.cat_ll_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #868686;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #3a3a3a;
  -moz-box-shadow: 0px 14px 0px 14px #3a3a3a;
  box-shadow: 0px 7px 0px 0px #3a3a3a; }

.cat_lu {
  fill: #9f9f9f !important;
  stroke: #9f9f9f !important; }

.cat_lu.click {
  fill: #63c9da !important;
  stroke: #63c9da !important; }

.cat_lu.hover {
  fill: #63c9da !important;
  stroke: #63c9da !important; }

.cat_lu.toggle {
  fill: #63c9da !important;
  stroke: #63c9da !important; }

.cat_lu.hover.toggle {
  fill: #b5e6ee !important;
  stroke: #b5e6ee !important; }

.cat_lu.blockhere {
  fill: #1f7685 !important;
  stroke: #1f7685 !important; }

.cat_lu.blockhere.hover {
  fill: #1f7685 !important;
  stroke: #1f7685 !important; }

.cat_lu.blockhere.hover.toggle {
  fill: #1f7685 !important;
  stroke: #1f7685 !important; }

.cat_lu.blockhere.toggle {
  fill: #1f7685 !important;
  stroke: #1f7685 !important; }

@media (min-width: 601px) {
  .trigger_cat_lu {
    border-left: 3px solid #63c9da; } }
@media (max-width: 600px) {
  .trigger_cat_lu {
    border-left: 10px solid #63c9da; } }

.trigger_cat_lu.hover {
  background: #dff4f7 !important; }

.trigger_cat_lu.hover td {
  background: #dff4f7 !important; }

.cat_lu_tickpill {
  background: #dff4f7 !important;
  border-left: 3px solid #63c9da; }

.cat_lu_button.active {
  padding: 10px;
  color: #fff;
  background-color: #63c9da;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #1f7685;
  -moz-box-shadow: 0px 14px 0px 14px #1f7685;
  box-shadow: 0px 7px 0px 0px #1f7685; }

.cat_lu_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #525252;
  -moz-box-shadow: 0px 14px 0px 14px #525252;
  box-shadow: 0px 7px 0px 0px #525252; }

.cat_aw {
  fill: #c4c4c4 !important;
  stroke: #c4c4c4 !important; }

.cat_aw.click {
  fill: #c7c5c0 !important;
  stroke: #c7c5c0 !important; }

.cat_aw.hover {
  fill: #c7c5c0 !important;
  stroke: #c7c5c0 !important; }

.cat_aw.toggle {
  fill: #c7c5c0 !important;
  stroke: #c7c5c0 !important; }

.cat_aw.hover.toggle {
  fill: #f7f7f6 !important;
  stroke: #f7f7f6 !important; }

.cat_aw.blockhere {
  fill: #7e7a70 !important;
  stroke: #7e7a70 !important; }

.cat_aw.blockhere.hover {
  fill: #7e7a70 !important;
  stroke: #7e7a70 !important; }

.cat_aw.blockhere.hover.toggle {
  fill: #7e7a70 !important;
  stroke: #7e7a70 !important; }

.cat_aw.blockhere.toggle {
  fill: #7e7a70 !important;
  stroke: #7e7a70 !important; }

@media (min-width: 601px) {
  .trigger_cat_aw {
    border-left: 3px solid #c7c5c0; } }
@media (max-width: 600px) {
  .trigger_cat_aw {
    border-left: 10px solid #c7c5c0; } }

.trigger_cat_aw.hover {
  background: white !important; }

.trigger_cat_aw.hover td {
  background: white !important; }

.cat_aw_tickpill {
  background: white !important;
  border-left: 3px solid #c7c5c0; }

.cat_aw_button.active {
  padding: 10px;
  color: #fff;
  background-color: #c7c5c0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #7e7a70;
  -moz-box-shadow: 0px 14px 0px 14px #7e7a70;
  box-shadow: 0px 7px 0px 0px #7e7a70; }

.cat_aw_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #c4c4c4;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #777777;
  -moz-box-shadow: 0px 14px 0px 14px #777777;
  box-shadow: 0px 7px 0px 0px #777777; }

.closeFilter {
  fill: #9f9f9f !important;
  stroke: #9f9f9f !important; }

.closeFilter.click {
  fill: #60cadd !important;
  stroke: #60cadd !important; }

.closeFilter.hover {
  fill: #60cadd !important;
  stroke: #60cadd !important; }

.closeFilter.toggle {
  fill: #60cadd !important;
  stroke: #60cadd !important; }

.closeFilter.hover.toggle {
  fill: #b4e6ef !important;
  stroke: #b4e6ef !important; }

.closeFilter.blockhere {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

.closeFilter.blockhere.hover {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

.closeFilter.blockhere.hover.toggle {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

.closeFilter.blockhere.toggle {
  fill: #1d7787 !important;
  stroke: #1d7787 !important; }

@media (min-width: 601px) {
  .trigger_closeFilter {
    border-left: 3px solid #60cadd; } }
@media (max-width: 600px) {
  .trigger_closeFilter {
    border-left: 10px solid #60cadd; } }

.trigger_closeFilter.hover {
  background: #def4f8 !important; }

.trigger_closeFilter.hover td {
  background: #def4f8 !important; }

.closeFilter_tickpill {
  background: #def4f8 !important;
  border-left: 3px solid #60cadd; }

.closeFilter_button.active {
  padding: 10px;
  color: #fff;
  background-color: #60cadd;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #1d7787;
  -moz-box-shadow: 0px 14px 0px 14px #1d7787;
  box-shadow: 0px 7px 0px 0px #1d7787; }

.closeFilter_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #525252;
  -moz-box-shadow: 0px 14px 0px 14px #525252;
  box-shadow: 0px 7px 0px 0px #525252; }

.cat_other {
  fill: #7d7d7d !important;
  stroke: #7d7d7d !important; }

.cat_other.click {
  fill: #ce2b2b !important;
  stroke: #ce2b2b !important; }

.cat_other.hover {
  fill: #ce2b2b !important;
  stroke: #ce2b2b !important; }

.cat_other.toggle {
  fill: #ce2b2b !important;
  stroke: #ce2b2b !important; }

.cat_other.hover.toggle {
  fill: #e47b7b !important;
  stroke: #e47b7b !important; }

.cat_other.blockhere {
  fill: #4f1111 !important;
  stroke: #4f1111 !important; }

.cat_other.blockhere.hover {
  fill: #4f1111 !important;
  stroke: #4f1111 !important; }

.cat_other.blockhere.hover.toggle {
  fill: #4f1111 !important;
  stroke: #4f1111 !important; }

.cat_other.blockhere.toggle {
  fill: #4f1111 !important;
  stroke: #4f1111 !important; }

@media (min-width: 601px) {
  .trigger_cat_other {
    border-left: 3px solid #ce2b2b; } }
@media (max-width: 600px) {
  .trigger_cat_other {
    border-left: 10px solid #ce2b2b; } }

.trigger_cat_other.hover {
  background: #eca6a6 !important; }

.trigger_cat_other.hover td {
  background: #eca6a6 !important; }

.cat_other_tickpill {
  background: #eca6a6 !important;
  border-left: 3px solid #ce2b2b; }

.cat_other_button.active {
  padding: 10px;
  color: #fff;
  background-color: #ce2b2b;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #4f1111;
  -moz-box-shadow: 0px 14px 0px 14px #4f1111;
  box-shadow: 0px 7px 0px 0px #4f1111; }

.cat_other_button {
  display: block !important;
  padding: 10px;
  color: #fff;
  background-color: #7d7d7d;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px;
  border: 0;
  -webkit-box-shadow: 0px 14px 0px 14px #303030;
  -moz-box-shadow: 0px 14px 0px 14px #303030;
  box-shadow: 0px 7px 0px 0px #303030; }

.guarenteetxt-container {
  display: none !important; }

.tickpill {
  padding: 10px;
  margin-bottom: 2px;
  width: 50%;
  float: left; }

.resetButton {
  background: #E3397F !important;
  border: none !important;
  padding: 11px !important;
  color: white !important;
  border-radius: 7px !important;
  font-size: 15px !important; }

.mobileFilterTab {
  perspective: 1500px;
  perspective-origin: 0% 50%;
  -webkit-transition: all 2s;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  visibility: visible;
  transform: translate3d(100%, 0, 0) rotateY(0deg); }

.mobileFilterTab.open {
  transform: translate3d(0%, 0, 0) rotateY(0deg); }

.closeFilter_button {
  width: 95%; }

.seatzones button {
  display: none; }

.seatzones button {
  float: left;
  width: 43%;
  text-align: center; }

/*# sourceMappingURL=maps.css.map */
