/**
* Icons are from http://icomoon.io/app/
* color code : #666666
**/

* {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    color: #333;
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: content-box;
}

body {
    background-color: #efefef;
    overflow-x: hidden;
    padding: 10px;
}

video, audio {
	margin:3em;
}
#uploader {
	display: block;
	text-align: right;
	height: auto;
	min-height:30px;
	overflow: hidden;
}

#uploader h1 {
	display: block;
	float: left;
	text-align: left;
	line-height:1.9em;
	font-size: 0.8em;
	text-shadow:1px 1px 0px #ffffff;
	word-break: break-all;
}

#uploadresponse {
	display: none;
}

#splitter {
	background-color: white;
	height: 400px;
	/* no padding allowed */
}

#filetree {
	overflow: auto;
	min-width: 100px;	/* optional */
	border: 1px solid #ccc;
	/* no margin or border allowed */
}

#filetree > ul {
	padding: 4px;
}

#fileinfo {
	min-width: 100px;
	overflow: auto;
	border: 1px solid #ccc;
	/* no margin or border allowed */
}

#splitter .vsplitbar {
	width: 6px;
	background: #F4F1ED url(../scripts/jquery.splitter/vgrabber.gif) no-repeat center;
}

#fileinfo {
	text-align: center;
	padding:0;
	margin:0;
}

#fileinfo * {
	font-size: 12px;
}

#preview {
	width: 100%;
}

#preview > img {
	margin: 25px;
	max-width: 80%;
}

#fileinfo > h1 {
	font-size: 16px;
	margin: 100px auto;
}

#preview dl {
	display: block;
	width: 400px;
	margin: 10px auto;
	overflow: auto;
}

#preview dl dt,
#preview dl dd {
	display: block;
	float: left;
	width: 190px;
	padding: 4px;
	text-align: left;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
}

#preview dt {
	clear: left;
}

#preview dd {
	font-weight: bold;
}

#toolbar {
	display: block;
	clear: left;
	margin: 50px auto;
}



button:active,
button:focus {
	font-weight: bold;
	outline-color: transparent;
	outline-style: none;
	outline-width: 0;
}

/** Input file Replacement */
#file-input-container {
	display:inline-block;
	margin:0;
	position:relative;
	top:0px;
	width:215px;
	height:32px;
	overflow: hidden;
}

/** Firefox hack */
@-moz-document url-prefix() {
	#file-input-container  {
		top:11px;
		width:255px;
	}
}

/** Opera hack */
x:-o-prefocus, #file-input-container {top:16px;width:205px;}

#newfile {
	position: absolute;
	top:0;
	right:0;
	height:32px;
	opacity:0;  filter: alpha(opacity=0);
	cursor: pointer;
	border:1px solid blue;
}

#alt-fileinput {
	display: inline;
	wrap: no-wrap;
}

#filepath {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    display: inline-block;
    height: 32px;
    line-height: 27px;
    margin-bottom: 20px !important;
    margin-left: 0 !important;
    margin-right: -6px;
    padding: 4px !important;
}

@-moz-document url-prefix() {
	#filepath {
		padding:0.2em 0.3em;
	}
}


button#browse {
    background-color: #44ae8c;
    border-radius: 7px;
    -wekit-border-radius: 7px;

    margin-left: 0;
    min-height: 16px;
    min-width: 40px;
    text-indent: -9999px;
}

button#browse span {
	margin:0;
	padding:0;
	background: url(../images/plus.png) no-repeat center center;
	display: block;
	color:#666;
	text-shadow: none;
}

#delete { background-color: #ca4e4e}
#select {  background-color: #44ae8c;}
/** Input file Replacement - end */

#q {
	background-color: #F2F2F2;
	border: 1px solid #dcdcdc;
	margin: 0.5em 0 0;
	padding: 0.1em 0.3em;
	line-height: 1.7em;
	width: 200px;
	
}

#search span.q-inactive {
	color: #a1a1a1;
	font-style: italic;
	font-size: 0.85em;
	position: relative;
	left: -200px;
}

#search a.q-reset {
	display: inline-table;
	width: 20px;
	height: 20px;
	background: url(../images/reset.png) no-repeat center center;
	position: relative;
	opacity:0.5;
	left: -30px;
	top: 5px;
	z-index: 24;
}

/** Opera hack */
x:-o-prefocus, #search a.q-reset {top:-14px;}

#contents.grid {
	padding: 25px;
	text-align: left;
}

#contents.grid li {
	display: block;
	float: left;
	width: 20%;
	min-height: 128px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 25px;
	border: 1px solid white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#contents.grid li:hover {
	border: 1px solid #E5E5E5;
	background-color:#F7F7F7;
	cursor: pointer;
}

div.clip {
	width: 64px;
	height: 64px;
	margin: 10px auto;
	overflow: hidden;
}

#contents.grid li img {
}

#contents.grid p {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

#contents.list {
	width: 100%;
}

#contents.list th,
#contents.list td {
	text-align: left;
	padding: 6px;
	white-space: nowrap;
}

#contents.list thead {
	background: rgb(244,241,237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(244,241,237,1) 0%, rgba(214,212,209,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,241,237,1)), color-stop(100%,rgba(214,212,209,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(244,241,237,1) 0%,rgba(214,212,209,1) 100%); /* W3C */
	border-bottom: 1px solid #ccc;
}

#contents.list th {
	font-weight: bold;
	cursor: pointer;
}

#contents.list th.tablesorter-headerAsc,
#contents.list th.tablesorter-headerDesc {
	background: rgb(214,212,209); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(214,212,209,1) 0%, rgba(244,241,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,212,209,1)), color-stop(100%,rgba(244,241,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(214,212,209,1) 0%,rgba(244,241,237,1) 100%); /* W3C */
}

#contents.list th.tablesorter-headerAsc span {
	display: block;
	width: 100%;
	padding-right: 20px;
	background-image: url(../images/bullet_arrow_up.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#contents.list th.tablesorter-headerDesc span {
	display: block;
	width: 100%;
	padding-right: 20px;
	background-image: url(../images/bullet_arrow_down.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#contents.list td {
	border-bottom: 1px dotted #ccc;
}

#contents.list td:first-child {
	width: 100%;
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 3px center;
}

#contents.list tbody tr:hover {
	background-color: #eee;
	cursor: pointer;
}

.meta {
	display: none;
}

#activity {
	margin: 100px auto;
}

.contextMenu {
	background-color:#3276b1;
}

.contextMenu li.hover a {
	background-color: #BDF;
}

.contextMenu a {
    color: white;
    font-size: 11px;
}

/* these apply to the contextual menus as well as the buttons */
#select span, .contextMenu li.select a { background-image: url(../images/accept.png); }
#download span, .contextMenu li.download a { background-image: url(../images/download.png); }
#rename span, .contextMenu li.rename a { background-image: url(../images/pencil.png); }
#delete span, .contextMenu li.delete a { background-image: url(../images/bin_closed.png); }
#upload span { background-image: url(../images/upload.png); }
#upload span.loading { background-image: url(../images/ajax-loader.gif);color:#555555;font-size:0.9em; }
#parentfolder span { background-image: url(../images/parentfolder.png); }
#newfolder span { background-image: url(../images/folder_add.png); }
#home span { background-image: url(../images/house.png); }

/* div.jqi button { background-image: url(../images/circular/yes.png); } */

div.jqi {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	min-width: 300px;
	padding: 10px;
	background-color:#F4F1ED;
	border: 1px solid #888;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 8px;
}

.jqiclose {
	float: right;
	margin: -9px -7px 0 0;
	font-size: 9px;
	cursor: pointer;
	text-transform: lowercase;
	color: #666;
}

div.jqi button {
	margin-top: 20px;
	margin-right:0.5em;
	float: right;
}
div#jqistates {padding:1em;}

div.jqimessage p {
 padding:0.3em;
 color:#555;
}

div.jqifade{
	background-color: #000000;
}

#grid span,
#list span {
	width: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

button.ON {
	background:none repeat scroll 0 0 #000;
	border: 1px inset #ccc;
}

#grid span { 
	background-image: url(../images/application_view_icons.png);
}

#list span { 
	background-image: url(../images/application_view_list.png);
}

#list {
	margin-left: 0;
}
#progressbar {
	background:transparent url(../images/ajax-loader.gif) no-repeat 0 0;
	display:inline-table;
	width:30px;
	height:30px;
}



button {
    background: none repeat scroll 0 0 #3276b1;
    border: medium none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: white !important;
    display: inline-block;
    line-height: 1.7em;
    margin: 0 0.2em 0.5em;
    padding: 7px;
    text-decoration: none;

}
button span {
    color: white;
    text-shadow: none;
    display: block;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    white-space: nowrap;
}


#jqi_state0_buttonCancel { background-color: #ca4e4e}
#upload { background-color: #44ae8c}