<?php
/*////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  Additional Fee  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ NOTICE OF LICENSE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                                                                   ///////
 \\\\\\\ This source file is subject to the Open Software License (OSL 3.0)\\\\\\\
 ///////   that is bundled with this package in the file LICENSE.txt.      ///////
 \\\\\\\   It is also available through the world-wide-web at this URL:    \\\\\\\
 ///////          http://opensource.org/licenses/osl-3.0.php               ///////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                      * @category   EH                            ///////
 \\\\\\\                      * @package    EH_Additionalfee                \\\\\\\
 ///////    * @author     Suneet Kumar <suneet64@gmail.com>               ///////
 \\\\\\\                                                                   \\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\* @copyright  Copyright 2014 © www.extensionhut.com All right reserved\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 */
 
$sym=Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
$extra=Mage::getModel("additionalfees/additionalfees")->getShipList();
$totals = Mage::getSingleton('checkout/cart')->getQuote()->getTotals();
$subtotal = $totals["subtotal"]->getValue();
?>
<?php if(count($extra) > 0) { 
	if(Mage::getStoreConfig('additionalfees_section/additionalfees_group1/title')!=''){ ?>
		<br/><span><b><?php echo Mage::getStoreConfig('additionalfees_section/additionalfees_group1/title');?></b></span><br/>
<?php
	}
}
foreach ($extra as $fee)
{	
	if($fee['feetype']=='Percentage'){
	$efee=number_format($subtotal*($fee['feeamount']/100),2);
	} else { 
	$efee=''; 
	}   
	?>
	<input type='hidden' name="percent_<?php echo $fee['additionalfees_id'];?>" value="<?php echo $efee;?>"/>	
			
	<?php if($fee['mandatory']=='Yes') { 
			if($fee['feetype']=='Percentage') { ?>
				<input type='hidden' name="additionalfee[<?php echo $fee['additionalfees_id'];?>]" value="1"/><input type='checkbox' name="additionalfee[<?php echo $fee['additionalfees_id'];?>]" value="1" checked disabled/>&nbsp;&nbsp;<label><?php echo $fee['title']."(".$fee['feeamount']."%)"; ?></label><br/>
			<?php } else { ?>
				<input type='hidden' name="additionalfee[<?php echo $fee['additionalfees_id'];?>]" value="1"/><input type='checkbox' name="additionalfee[<?php echo $fee['additionalfees_id'];?>]" value="1" checked disabled/>&nbsp;&nbsp;<label><?php echo $fee['title']."(".$sym.$fee['feeamount'].")"; ?></label><br/>
			<?php }  ?>

	<?php 
	} else { 
		if($fee['feetype']=='Percentage') { ?>	
		<input type="checkbox" name="additionalfee[<?php echo $fee['additionalfees_id'];?>]" value="1">&nbsp;&nbsp;<label><?php echo $fee['title']."(".$fee['feeamount']."%)"; ?></label><br/>	
		<?php } else { ?>		
		<input type="checkbox" name="additionalfee[<?php echo $fee['additionalfees_id'];?>]" value="1">&nbsp;&nbsp;<label><?php echo $fee['title']."(".$sym.$fee['feeamount'].")"; ?></label><br/>	
	      <?php 
	      }	
	
	}	

}//end of foreach			
		
?>
