<?php 
/*////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  Additional Fee  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ NOTICE OF LICENSE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                                                                   ///////
 \\\\\\\ This source file is subject to the Open Software License (OSL 3.0)\\\\\\\
 ///////   that is bundled with this package in the file LICENSE.txt.      ///////
 \\\\\\\   It is also available through the world-wide-web at this URL:    \\\\\\\
 ///////          http://opensource.org/licenses/osl-3.0.php               ///////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                      * @category   EH                            ///////
 \\\\\\\                      * @package    EH_Additionalfee                \\\\\\\
 ///////    * @author     Suneet Kumar <suneet64@gmail.com>               ///////
 \\\\\\\                                                                   \\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\* @copyright  Copyright 2014 © www.extensionhut.com All right reserved\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 */
 
$productId=Mage::registry('product')->getId();
$productFull = Mage::getModel('catalog/product')->load($productId);
$attributes = $productFull->getAttributes();
$overwrite=$attributes['additional_catoverride']->getFrontend()->getValue($productFull);
//$feedata = Mage::getModel('additionalfees/additionalfeestype')->getDefaultval();
if($overwrite==Mage::helper('additionalfees')->__('No'))
{
	$categoryIds = $productFull->getCategoryIds();	
	foreach($categoryIds as $km=>$vm) {
		$parentId=Mage::getModel('catalog/category')->load($vm)->getParentId();
		if(!in_array($parentId,$categoryIds))
			array_push($categoryIds,$parentId);
	}
	$fetchcatlist = Mage::getModel('additionalfees/additionalfees')->getcatFeeList('Category');	
	$k=0;		
	foreach($fetchcatlist as $key=>$val)
	{	
		$catArr1=array();
		$catArr1=explode(",",$val['cat']);
		foreach($catArr1 as $catId)
		{
			if(in_array($catId,$categoryIds)){
				if($val['mandatory']=='Yes')	
					$strExtra.=$val['title']."<br>";							
				else
					$strExtra.=$val['title']."<br>";
			}
		}
	}
	if($strExtra!='') {
		if(Mage::getStoreConfig('additionalfees_section/additionalfees_group1/title')!='')	
			echo "<strong>".Mage::getStoreConfig('additionalfees_section/additionalfees_group1/title').":</strong><br/>".$strExtra;
		else
			echo $strExtra;

	}
}
else
{
	$ekarr=$productFull->getAdditionalExtrafee();
	$arr=Mage::getModel('additionalfees/additionalfees')->getFeeList('Product');
   
	foreach($arr as $key1=>$val1)
	{		
	    foreach($ekarr as $ekey) {	    
			if($ekey==$key1)
			{	
				if($val1['mandatory']=='Yes')	
					$strExtra.=$val1['title']."<br>";			
				else
					$strExtra.=$val1['title']."<br>";	
			}
			
		}	
	}
	if($strExtra!='') {
		if(Mage::getStoreConfig('additionalfees_section/additionalfees_group1/title')!='')			
			echo "<strong>".Mage::getStoreConfig('additionalfees_section/additionalfees_group1/title').":</strong><br/>".$strExtra;
		else
			echo $strExtra;
	}
}
?>
