<?php
/*////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  Additional Fee  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ NOTICE OF LICENSE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                                                                   ///////
 \\\\\\\ This source file is subject to the Open Software License (OSL 3.0)\\\\\\\
 ///////   that is bundled with this package in the file LICENSE.txt.      ///////
 \\\\\\\   It is also available through the world-wide-web at this URL:    \\\\\\\
 ///////          http://opensource.org/licenses/osl-3.0.php               ///////
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ///////                      * @category   EH                            ///////
 \\\\\\\                      * @package    EH_Additionalfee                \\\\\\\
 ///////    * @author     Suneet Kumar <suneet64@gmail.com>               ///////
 \\\\\\\                                                                   \\\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 \\\\\\* @copyright  Copyright 2014 © www.extensionhut.com All right reserved\\\\\
 /////////////////////////////////////////////////////////////////////////////////
 */
 
$optarr=Mage::getModel('additionalfees/additionalfees')->getOptionaOrderFee();
$detailsFees=unserialize(Mage::getSingleton('checkout/session')->getDetailAdditionalfee());
if(Mage::getStoreConfig('additionalfees_section/additionalfees_group1/imagefield')!='')
    $ipath=Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."additionaluploaddir/".Mage::getStoreConfig('additionalfees_section/additionalfees_group1/imagefield');
else
    $ipath=$this->getSkinUrl('images/add_total_btn.png');
if(count($optarr) > 0) {	
?>
<form action="<?php echo $this->getUrl('additionalfees/index/optOrder') ?>" method="post" name="frmorder" id="frmorder">
<div class="discount">

	  <h2><?php echo Mage::getStoreConfig('additionalfees_section/additionalfees_group1/order_title');?></h2>
	  <div class="discount-form">
	      <label for="coupon_code"><?php echo Mage::getStoreConfig('additionalfees_section/additionalfees_group1/order_text');?></label> <br/>
	      <?php foreach($optarr as $key=>$val) { 
		    if($val['feetype']=='Fixed') {  ?>	
		    <input type="checkbox" name="opt[]" value="<?php echo $val['additionalfees_id'];?>" id="opt[]" <?php if(array_key_exists('O_'.$val['additionalfees_id'],$detailsFees)){ ?>checked<?php } ?>>&nbsp;<?php echo $val['title'].": ".Mage::helper('core')->currency($val['feeamount'],true,false);?><br/>
		    <?php } else { ?>
	            <input type="checkbox" name="opt[]" value="<?php echo $val['additionalfees_id'];?>" id="opt[]" <?php if(array_key_exists('O_'.$val['additionalfees_id'],$detailsFees)){ ?>checked<?php } ?>>&nbsp;<?php echo $val['title'].": ".$val['feeamount']."%";?><br/>		    
	      <?php } 
	      }
	      ?><br/>
	      <input type="image" src="<?php echo $ipath;?>"/>	     
	      
	  </div>
</div>
</form>
<?php 
	
} 
?>
